$ff-alumni: 'Alumni Sans Pinstripe', sans-serif;
$ff-caveat: 'Caveat', cursive;
$ff-josefin: 'Josefin Slab', serif;
$ff-lato: 'Lato', sans-serif;
$ff-noto: 'Noto Serif Telugu', serif;
$ff-overpass: 'Overpass', sans-serif;

$color-pitch:black;

