*, *::after, *::before{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: white;
}

#root{
  padding: 1rem;
  background-color: darken(dimgray, 30);
}
body{
  background-color: darken(dimgray, 30);

}

